.banner-section{
    height: auto;
    width: 100%;
    margin: 0%;
    top: 0%;

    img{
        height: 45vh;
        width: 100%;
        object-fit: cover;
    }

    .banner-text{
        margin: 0% auto;
        padding: 0% auto;
        position: absolute;
        align-items: center;
        text-align: center;
        z-index: 999;
        top: 35%;
        left: 30%;
        text-transform: uppercase;
    }
}