
footer.site-footer {
    width: 100%;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B2021;
    bottom: 0;

    #footer-id{
        width: auto;
        margin: 20px 0px 30px 0px;
        padding: 0;

        ul{
            display: flex;
            justify-content: center;
        }

        li{
            list-style: none;
        }

        a{
            text-decoration: none;
            color: black;
            font-size: 14px;
        }

        .menu-footer-menu-container{
            display: flex;
            justify-content: center;
        }
        
        display: flex;
        justify-content: center;
        

        .right-side-line::after{
            color: white;
            content: "|"
        }

        .right-side-line{
            margin-right: 10px; 
            a{
                margin-right: 10px;
            }
        }
    }
    .footerLogo{
        margin-top: 25px;
        img{
            width: 245px;
            height: 49px;
        }
    }
    .socialMedia {
        margin-top: 20px;
        ul{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
                margin: 0px 16px 0px 16px;
                img{
                width: 45px;

                }

            }
        }
    }
    .menu-footer-container{ 
        // margin-bottom: 35px;
        #footer-id{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            .menu-item a{
                color: red;
                font-size: 14px;
                text-decoration: none;
                padding: 0px 20px;
            }
            .menu-item::after{
                position: absolute;
                content: " |";
                padding-left: 0px;
                height: 100%;
                color: pink;
            }
            .menu-item:last-of-type:after{
                display: none;
            }
            
        }
    }
    .footerCopyright{
        margin-bottom: 10px;
        margin-top: -10px;
        span{
            font-size: 12px;
        }
    }
}

@media only screen and(max-width: 576px){
    footer.site-footer{
        padding: 40px 0px 60px 0px;
        width: 100%;
        justify-content: unset;
        height: auto;

        #footer-id{
            flex-direction: column;

            li{
                line-height: 250%;
                margin-right: none;
                width: 100%;
                text-align: center;
            }

            .right-side-line a{
                margin-right: 0 !important;
            }
        }
        .socialMedia{
            margin-top: 40px;
        }
    }

    .right-side-line::after{
        display: none;
    }
}







